@{
    Layout = "_AdminLayout";
}

@model PushNotificationDbEntities.Announcement

<div class="mid-class">
    <div class="art-right-w3ls">
        <h2>Duyuru Gönder</h2>
        <form action="#" method="post">
            <div class="main">
                <div class="form-left-to-w3l">
                    @using (Html.BeginForm("ShareToGroup", "Announcement", FormMethod.Post))
                    {
                        <div class="form-group">

                            @Html.LabelFor(v => v.Id, new { @style = "color:white" })
                            <input type="text" name="AnnouncementId" class="form-control" value="@Model.Id" disabled>
                            <br>

                            @Html.LabelFor(v => v.Title, new { @style = "color:white" })
                            <input type="text" name="Notification.Title" class="form-control" value="@Model.Title" required="">
                            <br>

                            @Html.LabelFor(v => v.Body, new { @style = "color:white" })
                            <input type="text" name="Notification.Body" class="form-control" value="@Model.Body" required="">


                            <label for="Recipient" style="color:white">Grup:</label>
                            <!--Burda partial view cagırılacak.-->
                            <div id="groupdropdown"></div>

                            <br>

                            <button class="btn btn-warning">Gönder</button>
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {

            $.ajax({
                type: "GET",
                url: "@Url.Action("DropdownGroup", "Announcement")?name=roleId",
                success: function (jsReturnArgs) {

                    $("#groupdropdown").html(jsReturnArgs);
                }
            });

        });
    </script>
}