@{
    Layout = "_AdminLayout";
}

@model PushNotificationDbEntities.Announcement

<div class="mid-class">
    <div class="art-right-w3ls">
        <h2>Duyuru Güncelle</h2>
        <form action="#" method="post">
            <div class="main">
                <div class="form-left-to-w3l">
                    @using (Html.BeginForm("Update", "Announcement", FormMethod.Post))
                    {
                        @Html.LabelFor(v => v.Id, new { @style = "color:white" })
                        @Html.TextBoxFor(v => v.Id, new { @class = "form-control", @readonly = "readonly" })

                        @Html.LabelFor(v => v.Title, new { @style = "color:white" })
                        @Html.TextBoxFor(v => v.Title, new { @class = "form-control", @required = "required" })

                        @Html.LabelFor(v => v.Body, new { @style = "color:white" })
                        @Html.TextAreaFor(v => v.Body, 10, 1, new { @class = "form-control", @required = "required" })

                        @Html.LabelFor(v => v.PhotoUrl, new { @style = "color:white" })
                        @Html.TextBoxFor(v => v.PhotoUrl, new { @class = "form-control", @required = "required" })

                        <button class="btn btn-warning">Güncelle</button>
                    }
                </div>
            </div>
        </form>
    </div>
</div>