@{
    Layout = "_AdminLayout";
}

@model PushNotificationDbEntities.User

<div class="mid-class">
    <div class="art-right-w3ls">
        <h2>Kullanıcı Güncelle</h2>
        <form action="#" method="post">
            <div class="main">
                <div class="form-left-to-w3l">
                    @using (Html.BeginForm("Update", "User", FormMethod.Post))
                    {
                        @Html.LabelFor(v => v.Id, new { @style = "color:white" })
                        @Html.TextBoxFor(v => v.Id, new { @class = "form-control", @readonly = "readonly" })

                        @Html.LabelFor(v => v.FirstName, new { @style = "color:white" })
                        @Html.TextBoxFor(v => v.FirstName, new { @class = "form-control", @required = "required" })

                        @Html.LabelFor(v => v.LastName, new { @style = "color:white" })
                        @Html.TextBoxFor(v => v.LastName, new { @class = "form-control", @required = "required" })

                        @Html.LabelFor(v => v.Email, new { @style = "color:white" })
                        @Html.TextBoxFor(v => v.Email, new { @class = "form-control", @required = "required" })

                        @Html.LabelFor(v => v.PhoneNumber, new { @style = "color:white" })
                        @Html.TextBoxFor(v => v.PhoneNumber, new { @class = "form-control", @required = "required" })

                        @Html.LabelFor(v => v.DeviceToken, new { @style = "color:white" })
                        @Html.TextBoxFor(v => v.DeviceToken, new { @class = "form-control", @required = "required" })

                        <label for="Recipient" style="color:white">Görev:</label>
                        <!--Burda partial view cagırılacak.-->
                        <div id="roledropdown"></div>
                        <br />

                        <button class="btn btn-warning">Güncelle</button>
                    }
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(function () {

            $.ajax({
                type: "GET",
                url: "@Url.Action("DropdownRole", "User")?name=Name",
                success: function (jsReturnArgs) {

                    $("#roledropdown").html(jsReturnArgs);
                }
            });

        });
    </script>
}