@{
    Layout = "_UserLayout";
}

@using PushNotificationDbEntities;
@model List<Announcement>

<!-- Page Wrapper Starts -->
<div class="wrapper">
    <!-- Portfolio Section Starts -->
    <section class="portfolio">
        <!-- Container Starts -->
        <div class="container">
            <!-- Main Heading Starts -->
            <div class="text-center top-text">
                <h1><span>TÜM</span> DUYURULAR</h1>
                <h4>DUYURULARDAN ANINDA HABERDAR OLMAK İÇİN MOBİL CİHAZINIZDAN KAYIT OLUN</h4>
            </div>
            <!-- Main Heading Starts -->
            <!-- Divider Starts -->
            <div class="divider text-center">
                <span class="outer-line"></span>
                <span class="fa fa-image" aria-hidden="true"></span>
                <span class="outer-line"></span>
            </div>
            <!-- Divider Ends -->
            <!-- Filter Wrapper Starts -->
            <nav>
                <ul class="simplefilter nav nav-pills">
                    <!-- Filter Wrapper Items Starts -->
                    <li class="active" data-filter="all"><i class="fa fa-reorder"></i> DUYURULAR</li>
                    <!-- Filter Wrapper Items Ends -->
                </ul>
            </nav>
            <!-- Filter Wrapper Ends -->
            <div>
                <div class="filtr-container">
                    <!-- Project Starts -->
                    @foreach (var announcement in Model)
                    {
                        <div class="col-xs-12 col-sm-4 col-md-4 filtr-item" data-category="1">
                            <div class="magnific-popup-gallery">
                                <!-- Thumbnail Starts -->
                                <figure class="thumbnail thumbnail__portfolio">
                                    <a class="image-wrap" href="@announcement.PhotoUrl" data-gal="magnific-pop-up[image]"><img class="img-responsive" src="@announcement.PhotoUrl" alt="Image Project" /><span class="zoom-icon"></span></a>
                                </figure>
                                <!-- Thumbnail Ends -->
                                <!-- Caption Starts -->
                                <div class="caption">
                                    <a class="title-link" href="image-project.html">
                                        @if (announcement.Title.Length > 30)
                                        {
                                            <h3>@announcement.Title.Substring(0, 30) ...</h3>
                                        }

                                        @if (announcement.Title.Length <= 30)
                                        {
                                            <h3>@announcement.Title</h3>
                                        }
                                    </a>
                                    @if (announcement.Body.Length > 100)
                                    {
                                        <p>@announcement.Body.Substring(0, 100) ...</p>
                                    }

                                    @if (announcement.Body.Length <= 100)
                                    {
                                        <p>@announcement.Body</p>
                                    }
                                    <a class="custom-button" href="/Home/AnnouncementDetails/@announcement.Id">DEVAMINI OKU...</a>
                                </div>
                                <!-- Caption Ends -->
                            </div>
                        </div>
                    }
                    <!-- Project Ends -->

                </div>
            </div>
        </div>
        <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends -->
</div>
<!-- Wrapper Ends -->