@{
    Layout = "_Layout";
}

@model PushNotificationDbEntities.User

<div class="mid-class">
    <div class="art-right-w3ls">
        <h2>Kayıt Ol Ve Giriş Yap</h2>
        @using (Html.BeginForm("Login", "UserRoleRelation", FormMethod.Post))
        {
            <div class="main">
                <div class="form-left-to-w3l">
                    <input type="text" name="UserId" placeholder="User ID" required="">
                </div>
                <div class="form-left-to-w3l ">
                    <input type="password" name="Password" placeholder="Şifre" required="">
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="btnn">
                <button type="submit">Giriş Yap</button>
            </div>
        }
        <div class="w3layouts_more-buttn">
            <h3>
                Üye Değil Misin..?
                <a href="#content1">
                    Üye Olmak İçin Tıkla
                </a>
            </h3>
        </div>
        <!-- popup-->
        <div id="content1" class="popup-effect">
            <div class="popup">
                <!--login form-->
                <div class="letter-w3ls">
                    @using (Html.BeginForm("Index", "UserRoleRelation", FormMethod.Post))
                    {
                        <div class="text-center">
                            <h1 class="display-4">Üye Ol</h1> <br /><br />

                            <label for="input1">İsim:</label>
                            @Html.TextBoxFor(v => v.FirstName, new { @class = "form-control", @required = "required" })

                            <label for="input2">Soyisim:</label>
                            @Html.TextBoxFor(v => v.LastName, new { @class = "form-control", @required = "required" })

                            <label for="input4">Email:</label>
                            @Html.TextBoxFor(v => v.Email, new { @class = "form-control", @required = "required" })

                            <label for="input5">Telefon Numarası:</label>
                            @Html.TextBoxFor(v => v.PhoneNumber, new { @class = "form-control", @required = "required" })

                            <label for="input6">Device Token:</label>
                            @Html.TextBoxFor(v => v.DeviceToken, new { @class = "form-control", @required = "required" })

                            <label for="Recipient">Görev:</label>
                            <!--Burda partial view cagırılacak.-->
                            <div id="roledropdown"></div>

                            <button type="submit">Üye Ol</button>
                        </div>
                    }
                    <div class="clear"></div>
                </div>
                <!--//login form-->
                <a class="close" href="#">&times;</a>
            </div>
        </div>
        <!-- //popup -->
    </div>
</div>


@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info mt-3">@ViewBag.Message</div>
}

@section Scripts {
    <script type="text/javascript">
        $(function () {

            $.ajax({
                type: "GET",
                url: "@Url.Action("DropdownRole", "UserRoleRelation")?name=Name",
                success: function (jsReturnArgs) {

                    $("#roledropdown").html(jsReturnArgs);
                }
            });

        });
    </script>
}