@{
    ViewBag.Title = "E-posta Gönder";
    Layout = "_AdminLayout";
}
@model EmailModel

<div class="mid-class">
    <div class="art-right-w3ls">
        <h2>Email Gönder</h2>
        <form action="#" method="post">
            <div class="main">
                <div class="form-left-to-w3l">
                    @using (Html.BeginForm("SendEmail", "DirectAnnouncement", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="Sender" style="color:white">Gönderen:</label>
                            @Html.TextBoxFor(v => v.Sender, new { @class = "form-control", @required = "required" })
                        </div>

                        <div class="form-group">
                            <label for="Recipient" style="color:white">Alıcı:</label>
                            <!--Burda partial view cagırılacak.-->
                            <div id="emaildropdown"></div>
                        </div>

                        <div class="form-group">
                            <label for="Subject" style="color:white">Konu:</label>
                            @Html.TextBoxFor(v => v.Subject, new { @class = "form-control", @required = "required" })
                        </div>

                        <div class="form-group">
                            <label for="Message" style="color:white">İçerik:</label>
                            @Html.TextAreaFor(v => v.Message, new { @class = "form-control", @required = "required" })
                        </div>

                        <button type="submit" class="btn btn-primary">Gönder</button>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info mt-3">@ViewBag.Message</div>
}

@section Scripts {
    <script type="text/javascript">
        $(function () {

            $.ajax({
                type: "GET",
                url: "@Url.Action("DropdownEmail", "User")?name=Recipient",
                success: function (jsReturnArgs) {

                    $("#emaildropdown").html(jsReturnArgs);
                }
            });

        });
    </script>
}
