<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Düzce Üniversitesi</title>

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon">


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <link href="~/css/bbootstrap.min.css" rel="stylesheet">
    <link href="~/lib/slick/slick.css" rel="stylesheet">
    <link href="~/lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->

    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/bar.css" />
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/popup.css" rel="stylesheet" type="text/css">

    <title>Düzce Üniversitesi Giriş</title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gaze Sign up & login Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script>
        addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <!-- Meta tags -->
    <!--stylesheets-->
    <link href="~/css/loginstyle.css" rel="stylesheet" />
    <!--//style sheet end here-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
</head>

<body>
    <!-- Top Bar Start -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="tb-contact">
                        <p><i class="fas fa-envelope"></i>duzceuniversitesi@mail.com</p>
                        <p><i class="fas fa-phone-alt"></i>+90 555 555 55 55</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tb-menu">
                        <a href="">Privacy</a>
                        <a href="">Terms</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar Start -->
    <!-- Nav Bar Start -->
    <div class="nav-bar">
        <div class="container">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="@Url.ActionLink("Index","Home")" class="nav-item nav-link active">Ana Sayfa</a>
                        <a href="@Url.ActionLink("Announcement","Home")" class="nav-item nav-link">Duyurular</a>
                        <a href="@Url.ActionLink("About","Home")" class="nav-item nav-link">Hakkımızda</a>
                        <a href="@Url.ActionLink("Contact","Home")" class="nav-item nav-link">İletişim</a>
                        <a href="@Url.ActionLink("Index","UserRoleRelation")" class="nav-item nav-link">Giriş</a>
                    </div>
                    <div class="social ml-auto">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->
    <div class="container-fluid">
        @RenderBody()
    </div>
    
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/slick/slick.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Template Javascript -->

</body>
</html>